@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<section class="about-primex-block">
    <div class="container">
        <h1 class="title2">О компании</h1>

        <div class="about-primex-block__wrapper">
            <div class="about-primex-block__two-blocks">
                <div class="about-primex-block__first-block">
                    <h4 class="title4">32 года</h4>
                    <p class="paragraph1 paragraph1-center">оказываем клининговые услуги</p>
                </div>

                <div class="about-primex-block__second-block">
                    <h4 class="title4">Собственное подразделение</h4>
                    <p class="paragraph1 paragraph1-center">по обслуживанию ворсовых <br>грязезащитных покрытий</p>
                </div>
            </div>

            <div class="about-primex-block__tech">
                <h4 class="title4">Современные технологии</h4>
                <p class="paragraph1 paragraph1-center">
                    адаптированные к российским
                    <br>условиям уборки, а также самое
                    <br>современное оборудование, богатый
                    <br>опыт работы и
                    <br>высококвалифицированный персонал.
                </p>
            </div>

            <img src="/img/about-primex-photo1.png" alt="Сотрудник PRIMEX">
        </div>

        <div class="about-primex-block__wrapper">
            <img src="/img/about-primex-photo2.png" alt="Сотрудник PRIMEX">
            <div class="about-primex-block__sert">
                <h4 class="title4">Сертификат СМК ISO 9001:2008</h4>
                <p class="paragraph1 paragraph1-center">
                    который "Примекс" первой среди
                    <br>отечественных клининовых компаний
                    <br>получил от норвежского
                    <br>сертификационного общества DNV в
                    <br>апреле 2003 года.
                </p>
            </div>

            <div class="about-primex-block__security">
                <h4 class="title4">Страховая защита</h4>
                <p class="paragraph1 paragraph1-center">
                    клининговых услуг, а также рисков
                    <br>клиентов, связанных с клининговой
                    <br>деятельностью.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="about-primex-achievements">
    <div class="container">
        <h1 class="title1">Наши достижения</h1>

        <div class="about-primex-achievements__wrapper">
            <div class="about-primex-achievements__text">
                <img src="/img/achievement-photo1.png" alt="Сотрудник PRIMEX" class="about-primex-achievements__photo1">
                <h2 class="title5">В 2005 году</h2>
                <p class="paragraph1 about-primex-achievements__text-bottom">
                    клининговая компания "ПРИМЕКС" <span class="paragraph1-purple-bold">
                        признана лучшей компанией на
                        <br>потребительском рынке России и награждена национальной премией
                        <br>"Золотой Бренд"
                    </span> в номинации "Инновационный, эффективный и
                    <br>устойчивый бренд на потребительском рынке России".
                </p>
                <h2 class="title5">В 2007 году</h2>
                <p class="paragraph1 about-primex-achievements__text-bottom">компания получила звание <span class="paragraph1-purple-bold">"Лидер клининговых услуг в России".</span></p>
                <h2 class="title5">В 2008 году</h2>
                <p class="paragraph1">
                    <span class="paragraph1-purple-bold">журнал «Forbes» </span>выделил франшизу «ПРИМЕКС» <span class="paragraph1-purple-bold">
                        в число пяти лучших
                        <br>франшиз России в сфере производства и услуг.
                    </span> При отборе лучших
                    <br>франшиз журнал опирался на четыре критерия: перспективность рынка
                    <br>клининговых услуг, стаж успешной работы, пакет услуг по поддержке
                    <br>бизнеса, открытость для потенциальных партнеров информации об
                    <br>экономике собственного предприятия и об уже действующих франчайзи.
                </p>

            </div>

            <div class="about-primex-achievements__text">
                <h2 class="title5">В 2003 году</h2>
                <p class="paragraph1 about-primex-achievements__text-bottom">
                    за вклад в развитие новой клининговой индустрии в России, за внедрение
                    <br>современных технологий по уборке, созданию импортозамещающей
                    <br>продукции, уникальных экологически чистых материалов, поддержание
                    <br>репутации российского поставщика клининговых услуг, соответствующих
                    <br>мировым стандартам качества, личный вклад руководителя предприятия
                    <br><span class="paragraph1-purple-bold">Рябичева Ю.В. в создание Ассоциации Русских Уборочных Компаний</span> и
                    <br>развитие клининга как отрасли в России, компании «ПРИМЕКС» первой среди
                    <br>клининговых компаний присуждено <span class="paragraph1-purple-bold">
                        звание лауреата премии «Российский
                        <br>Национальный Олимп».
                    </span>
                </p>
                <h2 class="title5">В 2003 году</h2>
                <p class="paragraph1">
                    "ПРИМЕКС" начал развитие <span class="paragraph1-purple-bold">собственной филиальной сети в России</span> и
                    <br><span class="paragraph1-purple-bold">
                        распространение системы менеджмента качества в области клининга на
                        <br>основе франчайзинга.
                    </span>
                </p>
                <img src="/img/achievement-photo2.png" alt="Сотрудник PRIMEX" class="about-primex-achievements__photo2">
            </div>
        </div>

    </div>
</section>
