
@{
    
}

<section class="primex-contacts">
    <div class="container">
        <h1 class="title2">Контакты</h1>

        <h2 class="title5 title5-contacts">Центральный офис (общие вопросы, заявки, аренда ковров)</h2>
        <div class="contacts__wrapper">
            <div class="contacts__text">
                <h6 class="title8">Адрес</h6>
                <p class="paragraph1">
                    123007, г. Москва, ул. 4-я
                    <br>Магистральная, дом 7, стр. 3
                </p>
            </div>

            <div class="contacts__text">
                <h6 class="title8">Часы работы</h6>
                <p class="paragraph1">
                    Пн-Чт с 9.00 до 18.00,
                    <br>Пт с 9.00 до 15.00
                </p>
            </div>

            <div class="contacts__text">
                <h6 class="title8">Телефон</h6>
                <p class="paragraph1">
                    +7 (495) 411-56-06
                    <br>+7 (909) 961-08-19
                </p>
            </div>

            <div class="contacts__text">
                <h6 class="title8">Электронная почта</h6>
                <p class="paragraph1">
                    info@primex.ru
                    <br>sgp@primex.ru
                </p>
            </div>
        </div>

        <h2 class="title5 title5-contacts">Производственный отдел (продажа СГП, сопутствующих товаров)</h2>

        <div class="contacts__wrapper">
            <div class="contacts__text">
                <h6 class="title8">Адрес</h6>
                <p class="paragraph1">
                    123007, г. Москва, ул. 4-я
                    <br>Магистральная, дом 7, стр. 7
                </p>
            </div>

            <div class="contacts__text">
                <h6 class="title8">Часы работы</h6>
                <p class="paragraph1">
                    Пн-Чт с 8.00 до 17.00,
                    <br>Пт с 9.00 до 15.00
                </p>
            </div>

            <div class="contacts__text">
                <h6 class="title8">Менеджер</h6>
                <p class="paragraph1">
                    Тормышова Юлия
                    <br>Денисова Юлия
                </p>
            </div>

            <div class="contacts__text">
                <h6 class="title8">Телефон</h6>
                <p class="paragraph1">
                    +7 (903) 524-60-08
                    <br>+7 (926) 908-79-08
                </p>
            </div>

            <div class="contacts__text">
                <h6 class="title8">Электронная почта</h6>
                <p class="paragraph1">
                    tu@primex.ru
                    <br>denisova@primex.ru
                </p>
            </div>
        </div>

        <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A6de3d9b22bd0bed4b0ce8d0a48c7e9be33dbfcef269313ef5075098d064d95f7&amp;source=constructor" width="1520px" height="550px" frameborder="0" style="border-radius: 10px;" class="contacts-map"></iframe>
    </div>
</section>
