@{


}

<section class="main-text">
    <div class="container">
        <p class="main-text__div">
            <span style="font-family: RalewayBold;">PRIMEX </span> оказывает услуги по уборке помещений <br>
            <span style="font-family: RalewayBold;">на протяжении 27 лет</span>
        </p>
    </div>
</section>

<section class="why-us">
    <div class="container">
        <h1 class="title1">Почему нас выбирают?</h1>

        <div class="why-us__wrapper">
            <div class="why-us__left">
                <img src="img/circle1.png" alt="27 лет">
                <p class="paragraph1 why-us__paragraph why-us__paragraph-left">Оказание услуг по профессиональной уборке и <br>эксплуатации зданий с 1991 года</p>
            </div>
            <div class="why-us__right">
                <p class="paragraph1 why-us__paragraph why-us__paragraph-right">Оказание клининговых услуг в соответствии со <br>стандартом качества ISO 9001:2014</p>
                <img src="img/circle2.png" alt="Медаль">
            </div>
        </div>
        <div class="why-us__wrapper">
            <div class="why-us__left">
                <img src="img/circle3.png" alt="Средство для уборки">
                <p class="paragraph1 why-us__paragraph why-us__paragraph-left">Собственное производство грязезащитных <br>покрытий и химических средств для клининга</p>
            </div>
            <div class="why-us__right">
                <p class="paragraph1 why-us__paragraph why-us__paragraph-right">Приемлемые цены</p>
                <img src="img/circle4.png" alt="Монетки">
            </div>
        </div>
        <div class="why-us__wrapper">
            <div class="why-us__left">
                <img src="img/circle5.png" alt="Персонал">
                <p class="paragraph1 why-us__paragraph why-us__paragraph-left">Постоянное обучение линейного персонала в <br>собственном учебном центре</p>
            </div>
            <div class="why-us__right">
                <p class="paragraph1 why-us__paragraph why-us__paragraph-right">Членство в СРО "Ассоциация клининовых и <br>фасилити операторов" АКФО</p>
                <img src="img/circle6.png" alt="Офис">
            </div>
        </div>
    </div>
</section>

<section class="main-about-primex">
    <div class="container">
        <h1 class="title1">Профессиональные клининговые услуги <br>для дома и офиса</h1>

        <div class="main-about-primex__wrapper">
            <img src="img/cleaning-window.png" alt="Мойка окон" style="box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.50);">
            <div class="main-about-primex__text">
                <h3 class="title3 main-about-primex__text-space"><span style="color: #8960AF;">Идеальная чистота</span> в помещении любого размера <br>и назначения, <span style="color: #8960AF;">без вашего участия и переплат.</span> <br>Закажите клининговые услуги в компании <br><span style="color: #8960AF;">«Примекс»</span> и убедитесь в том, что это реально!</h3>
                <p class="paragraph1 main-about-primex__text-space">
                    Начиная с 1991-го года, мы берем на себя все вопросы, связанные с <br>созданием и поддержанием идеальной чистоты в помещении <br>жилого, офисного, производственного, любого другого назначения.
                    <br><br>Результатами работы специалистов «Примекс» становится <br>настоящая чистота. А вы, ваши близкие, сотрудники, клиенты, <br>партнеры или гости не просто видите, а ощущаете ее.
                </p>
                <a href="services.php" class="main-about-primex__button">Узнать больше</a>
            </div>
        </div>
    </div>
</section>

<section class="main-partners">
    <div class="container">
        <h1 class="title1">Наши клиенты</h1>
        <div class="main-partners-imgs">
            <img src="/img/partner1.png" alt="Логотип Планета Суши" class="main-partners-img">
            <img src="/img/partner2.png" alt="Логотип ФНС" class="main-partners-img">
            <img src="/img/partner3.png" alt="Логотип Метро" class="main-partners-img">
            <img src="/img/partner4.png" alt="Логотип SATORI CAPITAL" class="main-partners-img">
            <img src="/img/partner5.png" alt="Логотип ПИК группа" class="main-partners-img">
            <img src="/img/partner6.png" alt="Логотип Аэрофлот" class="main-partners-img">
            <img src="/img/partner7.png" alt="Логотип ВТБ" class="main-partners-img">
            <img src="/img/partner8.png" alt="Логотип РЖД">
        </div>
    </div>
</section>